
.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
}

.middle {
    display: table-cell;
    vertical-align: middle;
}

.inner {
    margin-left: auto;
    margin-right: auto; 
    width: /*whatever width you want*/;
}

.jumbotron {
    background-image: url(BvS_poster3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    margin:0;
}

body {
	overflow: hidden;
}

.col-md-3 {
	font-family: "Arimo";
    font-size: 2rem;
    text-align:center;
}
.numbers {
	font-size: 6rem;
}
